## Gathering Data

In [1]:
import pandas as pd
import praw
from psaw import PushshiftAPI
import time

In [2]:
reddit = praw.Reddit(client_id = 'y45p1UGhNyNxnA',     # this is that personal use script key
                     client_secret = 'JaLr3ExpFi_1Dyi2BxqG2dblycQ', # this is that secret key
                     user_agent = 'project_3',    # Whatever name you gave your application
                     username = 'a4444999',      # your Reddit user name
                     password = 'Lodz1966')      # your Reddit password

In [3]:
api = PushshiftAPI(reddit)

#godddamn it when you get home, delete the creepy and pasta csvs, rerun this and resave bc its all fucked!!!!!!

### r/creepypasta

In [4]:
topics_dict = { "title":[],
            "score":[],
            "id":[],
            "url":[], 
            "comms_num": [],
            "created": [],
            "body":[]
              }

counter = 0 # initializing counting variable
sleep_counter = 0 # initializing sleep_counter variable
for item in api.search_submissions(subreddit='creepypasta', limit=5_000):
    topics_dict["title"].append(item.title)
    topics_dict["score"].append(item.score)
    topics_dict["id"].append(item.id)
    topics_dict["url"].append(item.url)
    topics_dict["comms_num"].append(item.num_comments)
    topics_dict["created"].append(item.created)
    topics_dict["body"].append(item.selftext)
    counter +=1
    sleep_counter += 1
    if sleep_counter > 99:
        print(counter)
        time.sleep(3)
        sleep_counter = 0

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000

In [5]:
creepy_df = pd.DataFrame(topics_dict)
creepy_df['body'].shape

(5000,)

In [6]:
creepy_df.to_csv(path_or_buf='data/creepy_df.csv', index=False)
#index=False Unnamed doesn't show!!

In [7]:
creepy_df.head()

,title,score,id,url,comms_num,created,body
0,I woke up with broken ankles.,2,dhy5jr,https://www.reddit.com/r/creepypasta/comments/...,0,1.571120e+09,Three days ago I woke up with broken ankles. T...
1,Where did I come from?,1,dhxy47,https://www.reddit.com/r/creepypasta/comments/...,0,1.571120e+09,My name is Troy Finch and I don't know why or ...
2,If you get a text from this number never respo...,2,dhx7iw,https://thestonkmarket.com/2019/10/14/if-you-g...,0,1.571116e+09,
3,The Playground Creepypasta,1,dhwxto,https://www.reddit.com/r/creepypasta/comments/...,0,1.571115e+09,Hello my name is Kevin and this is a story tha...
4,My Unwilling Contribution to Science,1,dhvkub,https://www.reddit.com/r/creepypasta/comments/...,0,1.571110e+09,\n \nMy name is Oscar Bandas. Don’t ask me whe...

In [8]:
#creepy_df['body'].value_counts().sort_values(ascending=False)

In [9]:
creepy_df['body'].replace(to_replace = ['[deleted]', '[removed]'], 
                          value = '',
                          inplace=True)

In [10]:
#combine body and head

In [11]:
creepy_df['creepypasta'] = creepy_df['title'] + ': ' + creepy_df['body']

In [12]:
creepy_df['taget_col'] = 0

In [13]:
creepy_df.columns

Index(['title', 'score', 'id', 'url', 'comms_num', 'created', 'body',
       'creepypasta', 'taget_col'],
      dtype='object')

In [14]:
creepy_df = creepy_df.drop(columns = ['title', 'score', 'id', 'url', 'comms_num', 'created', 'body'])

In [15]:
creepy_df.shape

(5000, 2)

In [16]:
creepy_df.head()

                                         creepypasta  taget_col
0  I woke up with broken ankles.: Three days ago ...          0
1  Where did I come from?: My name is Troy Finch ...          0
2  If you get a text from this number never respo...          0
3  The Playground Creepypasta: Hello my name is K...          0
4  My Unwilling Contribution to Science: \n \nMy ...          0

### r/nosleep

In [17]:
topics_dict = { "title":[],
            "score":[],
            "id":[],
            "url":[], 
            "comms_num": [],
            "created": [],
            "body":[]
              }
counter = 0 # initializing counting variable
sleep_counter = 0 # initializing sleep_counter variable
for item in api.search_submissions(subreddit='nosleep', limit=5_000):
    topics_dict["title"].append(item.title)
    topics_dict["score"].append(item.score)
    topics_dict["id"].append(item.id)
    topics_dict["url"].append(item.url)
    topics_dict["comms_num"].append(item.num_comments)
    topics_dict["created"].append(item.created)
    topics_dict["body"].append(item.selftext)
    counter +=1
    sleep_counter += 1
    if sleep_counter > 99:
        print(counter)
        time.sleep(3)
        sleep_counter = 0

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000

In [18]:
nosleep_df = pd.DataFrame(topics_dict)
nosleep_df['body'].shape

(5000,)

In [19]:
nosleep_df.head()

,title,score,id,url,comms_num,created,body
0,Name for the Same,1,dhyks9,https://www.reddit.com/r/nosleep/comments/dhyk...,0,1.571122e+09,"\nWhatever else I tell you, whatever else you ..."
1,Im stuck in a school with [REDACTED],1,dhyf9f,https://www.reddit.com/r/nosleep/comments/dhyf...,1,1.571122e+09,[removed]
2,Superstitious Tradesman?,1,dhy7g6,https://www.reddit.com/r/nosleep/comments/dhy7...,0,1.571121e+09,"I am a Plumbers apprentice from Cape Cod, MA- ..."
3,log 01. im not crazy TY9932.oaw,1,dhy35s,https://www.reddit.com/r/nosleep/comments/dhy3...,1,1.571120e+09,[removed]
4,Souvenirs,2,dhxy4k,https://www.reddit.com/r/nosleep/comments/dhxy...,0,1.571120e+09,"Somehow, I knew it would be a bad idea. So why..."

In [20]:
nosleep_df.to_csv(path_or_buf='data/nosleep_df.csv', index=False)

In [21]:
nosleep_df['body'].replace(to_replace = ['[deleted]', '[removed]'],
                     value = '',
                     inplace=True)

In [22]:
nosleep_df['no_sleep'] = nosleep_df['title'] + ': ' + nosleep_df['body']

In [23]:
nosleep_df['taget_col'] = 1

In [24]:
nosleep_df.columns

Index(['title', 'score', 'id', 'url', 'comms_num', 'created', 'body',
       'no_sleep', 'taget_col'],
      dtype='object')

In [25]:
nosleep_df = nosleep_df.drop(columns=['title', 'score', 'id', 'url', 'comms_num', 'created', 'body'])

In [26]:
nosleep_df.shape

(5000, 2)

### Combine DataFrames

In [53]:
nosleep_df.head()

                                                   text  taget_col
0     Name for the Same: \nWhatever else I tell you,...          1
1                Im stuck in a school with [REDACTED]:           1
2     Superstitious Tradesman?: I am a Plumbers appr...          1
3                     log 01. im not crazy TY9932.oaw:           1
4     Souvenirs: Somehow, I knew it would be a bad i...          1
...                                                 ...        ...
4995  I moved to maine with my dying sister. I found...          1
4996           Never going to my grandmas house again:           1
4997           Never going to my grandmas house again:           1
4998  The Horse and The Sickness: The snowstorm of ’...          1
4999  The Childless Mother: Morrow took me into the ...          1

[5000 rows x 2 columns]

In [51]:
creepy_df.head()

                                                   text  taget_col
0     I woke up with broken ankles.: Three days ago ...          0
1     Where did I come from?: My name is Troy Finch ...          0
2     If you get a text from this number never respo...          0
3     The Playground Creepypasta: Hello my name is K...          0
4     My Unwilling Contribution to Science: \n \nMy ...          0
...                                                 ...        ...
4995    Horror Short Film "Ella" | Presented by ALTER:           0
4996     X EYES (I might make a creepy pasta about it:           0
4997  Creepypasta reading with good acting- any reco...          0
4998  I just re-watched this lots of fun if you have...          0
4999  One of my favourite horror movies if you haven...          0

[5000 rows x 2 columns]

In [59]:
clean_df = pd.concat([creepy_df, nosleep_df])

In [64]:
clean_df.reset_index(inplace=True)

In [65]:
clean_df = clean_df.drop(columns='index')

In [67]:
clean_df;

In [68]:
clean_df.to_csv(path_or_buf='data/clean_data.csv', index=False)